body {
  background-color: #212121;
}

.o64aR, ._3Laht, .SCxLW {
    background-color: #212121 !important;

}

.M9sTE {
    color: white;
}

._lz6s {
    background-color: #2f2f2f !important;
    border-bottom: 1px solid #3c3c3c !important;
}

.s4Iyt, .NXVPg{
    filter: hue-rotate(
    47deg
    ) brightness(1000%);
}

._8-yf5 {
    fill: white;
}

.Di7vw {
    background: #3a3a3a !important;
    border: solid 1px #565656 !important;
}

.pbgfb {
    color: #f7f7f7 !important;
}


._3MPWk, ._8Rm4L, .zMhqu, .KQA-S, .AcVnq, ._1MzIy {
    background-color: #333333 !important;
}

._3MPWk, ._8Rm4L, .zMhqu, .KQA-S, ._1MzIy {
    border: 1px solid #636363 !important;
}

.yWX7d._8A5w5, a.yWX7d._8A5w5, a.yWX7d._8A5w5:visited {
    color: #ffffff !important;
    /* color: rgba(var(--f75,38,38,38),1); */
}

a.O4GlU, a.O4GlU:visited {
    color: #ffffff !important;
    /* color: rgba(var(--i1d,38,38,38),1); */
}

.cqXBL, .cqXBL:visited {
    color: #ffffff !important;
    /* color: rgba(var(--i1d,38,38,38),1); */
}

a.FPmhX.MBL3Z {
    color: #ffffff !important;
    /* color: rgba(var(--i1d,38,38,38),1); */
}

.zV_Nj, .zV_Nj:visited {
    color: #ffffff !important;
    /* color: rgba(var(--i1d,38,38,38),1); */
}

.Ypffh {
    color: #e2e2e2 !important;
}


.RucPH, .RucPH:visited {
    color: #ffffff !important;
    /* color: rgba(var(--i1d,38,38,38),1); */
}

.pKCwU {
    color: #cacaca !important;
    /* color: rgba(var(--i1d,38,38,38),1); */
}

.sH9wk {
    border-top: 1px solid #6b6b6b !important;
}

.UE9AK {
    border-bottom: 1px solid #565656 !important;
    /* border-bottom: 1px solid rgba(var(--ce3,239,239,239),1); */
}

.gmFkV, .gmFkV:visited, .gmFkV:active, .gmFkV:focus, .gmFkV:hover {
    color: #f7f7f7 !important;
}

.VideM {
    background: #333 !important;
    border: 1px solid #636363 !important;
}

.eebAO {
    color: #ffffff !important;
}

.puCyQ {
    color: #b5b5b5 !important;
}

._8UZ6e {
    background-color: #212121 !important;
    /* background-color: rgba(var(--b3f,250,250,250),1); */
}

.tHaIX {
    background-color: #212121 !important;
    /* background-color: rgba(var(--b3f,250,250,250),1); */
}

._0PwGv {
    color: #b7b5b5 !important;
    /* color: rgba(var(--f52,142,142,142),1); */
}

._01UL2 {
    background: #333333 !important;
}

.-qQT3:hover {
    background-color: #5a5a5a !important;
    /* background-color: rgba(var(--b3f,250,250,250),1); */
}

.KV-D4 {
    color: #d4d4d4 !important;
    /* color: rgba(var(--i1d,38,38,38),1); */
}

.AvhYw {
    background: #333333 !important;
    border: 1px solid #fff0 !important;

}

.TOh1s {
    background: -webkit-gradient(linear,left top,left bottom,from(rgba(255,255,255,0)),to(#272727)) !important;
}

.box, a {
    color: #e4e4e4 !important;
}

.box, span {
    color: #e4e4e4 !important;
}

.zwlfE {
    color: #dedede !important;
}

.g47SY {
    color: #f5f5f5 !important;
}

.fx7hk {
    border-top: 1px solid #868686 !important;
}

.T-jvg {
    border-top: 1px solid #ffffff !important;
}

._32eiM, ._32eiM:visited {
    color: #e4e4e4 !important;
}

.glyphsSpriteFriend_Follow {
    background-position: -522px -196px;
    height: 12px;
    filter: hue-rotate( 
44deg
 ) brightness(1000%) !important;
}

._1XyCr {
    background-color: #272727 !important;
}

.m82CD {
  color: #d2d2d2 !important;
}

.wo9IH {
    background-color: #272727 !important;
}

.Pkbci,a {
    color: white !important;
  }

.PZuss, li {
  background-color: #272727;
}

.sqdOP,  .L3NKy, ._8A5w5 {
  color: white !important;
}    

.NP414, .NP414::before {
    background: #212121 !important;
    border-color: #21212100 !important;
    /* background: rgba(var(--d87,255,255,255),1); */
}

.Ckrof {
    background-color: transparent !important;
}

._41KYi {
    background: #2d2d2d !important;
}

.vi798,li {
  background-color: transparent !important;
}

.HoLwm {
    color: white !important;
}

.BvMHM {
    background-color: #2b2b2b !important;
    color: white !important;
}

.sxIVS {
    color: #cccccc !important;
}

.fm1AK {
    background-color: #2b2b2b !important;
}

._4EzTm {
    color: white !important;
}

.wW1cu, li:hover {

}

.zyHYP {
    color: white !important;
}

.g6RW6 {
    background-color: #2b2b2b !important;
}

.PLphk {
    color: #ffffff !important;
}

.nsKSz {
    color: #f9f9f9 !important;
    /* color: rgba(var(--i1d,38,38,38),1); */
}

.SZRPf {
    color: #f3f3f3 !important;
    /* color: rgba(var(--i1d,38,38,38),1); */
}

.yMV6Z {
    color: #ffffff !important;
    /* color: rgba(var(--i1d,38,38,38),1); */
}

.ufG8g {
    color: #d4d4d4 !important;
    /* color: rgba(var(--i1d,38,38,38),1); */
}

.ufStW {
    color: #ffffff !important;
    /* color: rgba(var(--i1d,38,38,38),1); */
}

.fuQUr:hover {
    background-color: #0095f6 !important;
}

.vwCYk {
    background-color: transparent !important;
}

.XTCLo {
    color: #dcdcdc !important;
    background-color: #2b2b2a !important;
}

.-qQT3 {
    background-color: #333333 !important;
}

.EtaWk {
  background-color: #333 !important;
}

.JyscU.ePUX4 .UE9AK {
    border-left: 1px solid #404040 !important;
    background-color: #333 !important;
}

.fmD5w {
    background-color: #333 !important;
    color: #28b7b7 !important;
}

.ltpMr,  .Slqrh{
  background-color: #333 !important;
}

.EDfFK, .ygqzn, .k_Q0X, .I0_K8,  .NnvRN{
  background-color: #333 !important;
}

.sH9wk {
    border-top: 1px solid #4c4c4c !important;
    background-color: #333 !important;
}

.ltEKP .QBXjJ {
    border: 1px solid #4c4c4c !important;
}

.JyscU.ePUX4 .eo2As {
    border-left: 1px solid #4c4c4c !important;
}


.fmD5w {
    border-bottom: 1px solid #4c4c4c !important;
    /* border-bottom: 1px solid rgba(var(--ce3,239,239,239),1); */
    border-top: 1px solid #4c4c4c !important;
    /* border-top: 1px solid rgba(var(--ce3,239,239,239),1); */
}

.eo2As, ._8NBDv {
  background-color: #333 !important;
}

.JyscU .Slqrh {
    border-top: 1px solid #4c4c4c !important;
}

button.wpO6b:hover {
    background-color: transparent !important;
}

._8-yf5 {
    color: white !important;
}

button.wpO6b {
    background-color: transparent !important;
}

.g6RW6 {
  background-color: #333 !important;
}


.rBNOH{
      background-color: transparent !important;
}

.N9abW {
    background-color: #333 !important;
}

.L1C6I {
    background-color: #212121 !important;
}

.S-mcP {
    background-color: #333 !important;
    border-bottom: 1px solid #484848 !important;
}

.HVWg4 {
    background-color: transparent !important;
}

.QOqBd{
    background-color: #292929 !important;
}

.JiVIq {
    background-color: #333 !important;

}

.NV0kc {
    background-color: #333 !important;
}

.emXTk {
    background-color: #333333 !important;
}

.m7ETg {
    color: white;
}

._4Kbb_ {
    border: 1px solid #efefef00 !important;
    background-color: #212121 !important;
    color: white !important;
}

.rkEop, .VIsJD, .p7vTm {
    color: white !important;
}

.gr27e {
    background-color: #1b1b1b !important;
    /* background-color: rgba(var(--d87,255,255,255),1); */
    border: 1px solid #3e3e3e !important;
}

.izU2O {
    color: #ababab !important;
}

._2hvTZ {
    background: #353535 !important;
}

.i24fI{
background-color: #015890 !important;
}


.b_nGN {
    color: #e2e2e2 !important;
}

.X3a-9 textarea {
    color: white !important;
}
